<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Alexander Peseckis">
        <meta name="description" content="Alexander Peseckis' Personal Website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% block keywords %} HTML, CSS, JavaScript {% endblock %}">

        {% block css_head %}
        <link rel="stylesheet" type="text/css" href="index.css" />
        {% endblock %}

        <script type="module" src="index.js" defer></script>

        {% block js_head %}{% endblock %}
    </head>

    <body>
        <div id="left-col">
        </div>

        <div id="middle-col">
            <header>
                <nav>
                    {% block nav %}
                    

                    <button id="raytracer1-nav" class="nav-btn" type="button">Raytracer Page 1</button>
                    <button id="raytracer2-nav" class="nav-btn" type="button">Raytracer Page 2</button>
                    <button id="raytracer3-nav" class="nav-btn" type="button">Raytracer Page 3</button>
                    {% endblock %}
                </nav>
            </header>

            <main>
                {% block main %}{% endblock %}
            </main>

            <footer>
            </footer>
        </div>

        <div id="right-col">
        </div>
    </body>
</html>
